@import-normalize;
/* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Gothic+A1:wght@400;700&family=Roboto+Condensed:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
ol,
li {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --text-family: 'Gothic A1', sans-serif;
  --h-family: 'Roboto Condensed', sans-serif;
  --title-family: 'Bruno Ace', sans-serif;
  --fs-sm: 12px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-h2: 48px;
  --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-accent: #00d0ff;
  --color-bg-cards: #222222;
}

body {
  margin: 0;
  font-family: var(--text-family);
  color: var(--color-text);
  font-weight: var(--fw-normal);
  background-color: var(--color-bg);
}

/* Swiper Pagination CSS */

.swiper-pagination {
  width: 150px;
  height: 10px;
  display: flex;
  background-color: var(--color-bg);
  align-items: center;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 3px;
  background-color: var(--color-text);
  margin: 0 4px;
  border-radius: 15px;
  
  transition: background-color 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-accent);
}