@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Gothic+A1:wght@400;700&family=Roboto+Condensed:wght@400;600&display=swap');
* {
  box-sizing: border-box;
}

ul,
ol,
li {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

:root {
  --text-family: 'Gothic A1', sans-serif;
  --h-family: 'Roboto Condensed', sans-serif;
  --title-family: 'Bruno Ace', sans-serif;
  --fs-sm: 12px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-accent: #FAFF00;
}

body {
  margin: 0;
  font-family: var(--text-family);
  color: var(--color-text);
  font-weight: var(--fw-normal);
  background-color: var(--color-bg);
}